:root {
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-text-color: #2E2F42;
--secondary-text-color: #434455;
--white-color: #FFFFFF;
--third-text-color: #4D5AE5;
--primary-background-color: #F4F4FD;
--accent-color: #404BBF;
--anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------FONT STYLE-----------*/

body {
color: var(--secondary-text-color);
background-color: var(--white-color);
font-family: var(--primary-font);
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}

ul, ol {
margin: 0;
padding: 0;
}

img {
display: block;
width: 100%;
height: auto;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* ---------HEADER NEW---------- */

.container {
padding-left: 15px;
padding-right: 15px;
/* max-width: 1158px;
padding: 0 15px;
margin: 0 auto; */
}

@media screen and (min-width: 428px) {
.container {
width: 428px;
margin-left: auto;
margin-right: auto;
}
}

@media screen and (min-width: 768px) {
.container {
width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
width: 1158px;
}
}

@media screen and (max-width: 767px) {
.header-list {
display: none;
}


.heder-address {
display: none;
}

.mobile-menu-burger {
border: none;
background-color: transparent;
padding: 0;
line-height: 0;
}

.icon-hamburger {
fill: var(--headings-text-color);
}

.mobile-menu-wrapper {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1000;
background-color: var(--white-color);

opacity: 0;
visibility: hidden;
pointer-events: none;

overflow-y: scroll;

transition: opacity 250ms var(--anim-main),
visibility 250ms var(--anim-main);
}

.mobile-menu-wrapper.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.mobile-menu-container {
padding-top: 80px;
padding-bottom: 40px;
padding-left: 25px;
padding-right: 20px;

position: relative;
}

.mobile-close-button {
background: rgba(231, 233, 252, 0.1);
border: 1px solid rgba(46, 47, 66, 0.1);
}

.header {
padding-top: 24px;
padding-bottom: 22px;
}
}

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
background-color: var(--white-text-color);
}

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

@media screen and (min-width: 768px) {
.mobile-menu-wrapper {
display: none;
}

.mobile-menu-burger {
display: none;
}
}

/* img {
display: block;
} */

/* ---------HEADER NEW---------- */

@media screen and (max-width: 767px) {
.mobile-menu-container {
padding: 80px 35px 40px 40px;
}

.menu-item-mobile {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

color: var(--accent-color);
}

.menu-item-mobile:hover,
.menu-item-mobile:focus,
.menu-item-mobile.active,
.contact-item-mobile-number:hover,
.contact-item-mobile-number:focus,
.contact-item-mobile:hover,
.contact-item-mobile:focus {
    color: var(--hover-color);
}

.nav-list-mobile:not(:last-child) {
margin-bottom: 40px;
}

.navigations-mobile {
margin-bottom: 284px;
}

.mobile-contact-menu {
font-style: normal;
}

.contact-item-mobile-number {
display: block;
margin-bottom: 40px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

color: var(--secondary-text-color);
}

.contact-item-mobile {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

color: var(--secondary-text-color);
}

.mobile-contact-menu {
margin-bottom: 48px;
}

.social-media-list-mobile.social-media-list {
justify-content: flex-start;
gap: 56px;
}
}

/*----------LOGO-----------*/

.header {
top: 0;
left: 0;
z-index: 100;
width: 100%;
/* border-bottom: 1px solid #e7e9fc; */
}

.logo-nav {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-nav-common {
color: var(--third-text-color);
}

.header-logo {

/* display: inline-block;
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
text-decoration: none;
margin-right: 76px; */
}

.studio-logo-header {
color: var(--primary-text-color);
/* display: inline-block;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
text-decoration: none;
margin-right: 76px; */
}

.studio-logo-footer {
color: var(--primary-background-color);
}

/*----------NAVIGATION MENU-----------*/

.header-item.active {
color: var(--accent-color);
}

@media screen and (min-width: 768px) {
.header-list {
display: flex;
gap: 40px;
}

.header-link.active {
position: relative;
}

.active::after {
position: absolute;
left: 0;
bottom: -1px;
content: '';
display: block;
width: 100%;
height: 4px;

background: var(--accent-color);
border-radius: 2px;
}

.header-nav {
display: flex;
align-items: center;
}

.header-nav .header-logo {
margin-right: 120px;
}

.header-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;

font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--anim-main);
}

.header-link:hover,
.header-link:focus,
.header-address-link:hover,
.header-address-link:focus {
color: var(--accent-color);
}
}

@media screen and (min-width: 1158px) {
.header-nav .header-logo {
margin-right: 76px;
}
}

/*----------CONTACTS MENU-----------*/

@media screen and (min-width: 768px) {
.heder-address {
font-style: normal;
margin-left: auto;
}

.header-address-link {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;

color: var(--secondary-text-color);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--anim-main);
}
}

@media screen and (max-width: 1157px) {
.header-adrdress-item {
margin-bottom: 12px;
}
}

@media screen and (min-width: 1158px) {
.header-address-list {
display: flex;
gap: 40px;
}

.header-address-link {
padding-top: 24px;
padding-bottom: 24px;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}


/*----------HEADER-----------*/

.header-container {

/* display: flex;
justify-content: space-between;
align-items: center; */
}

.header-nav {

/* display: flex;
align-items: center; */
}

.header-list {

/* display: flex;
align-items: center;
gap: 40px; */
}

.header {

/* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.header-list:not(:last-child) {

/* margin-right: 40px; */
}

.header-link {

/* font-weight: 500;
font-size: 16px;
line-height: 1.5;   
letter-spacing: 0.02em;
color: var(--primary-text-color);
display: flex;
padding: 24px 0;
position: relative;

transition: color var(--anim-main); */
}

.current {

/* color: #404bbf; */
}

.header-link:after {

/* content: "";
position: absolute;
left: 0;
bottom: -1px;
transform: scaleX(0);
transform-origin: right;
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;

transition: transform var(--anim-main),
background-color var(--anim-main); */
}

.header-link:hover:after,
.header-link:focus:after,
.header-link.current:after {

/* transform: scaleX(1);
transform-origin: left; */
}

.header-link:hover,
.header-link:focus {

/* color: var(--accent-color); */
}

.heder-address {

/* font-style: normal; */
}

.header-address-link {

/* font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

transition: color var(--anim-main); */
}

.header-address-link:hover,
.header-address-link:focus {

/* color: var(--accent-color); */
}

.header-address-list {

/* display: flex;
gap: 40px;
padding: 24px 0; */
}

.header-address-list:not(:last-child) {
    
/* margin-right: 40px; */
}

/*----------HERO-----------*/

.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-mob.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: var(--primary-text-color);
/* max-width: 1440px;
height: 600px;
margin: 0 auto;
background-color: var(--primary-text-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 188px;
padding-bottom: 188px; */
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-mob-2x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
screen and (min-resolution: 96dpi) and (min-width: 768px),
screen and (min-resolution: 1dppx) and (min-width: 768px) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-tab.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-tab-2x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1158px),
screen and (min-resolution: 96dpi) and (min-width: 1158px),
screen and (min-resolution: 1dppx) and (min-width: 1158px) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
.hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-bg-2x.jpg);
    }
}

.hero-title {
margin-right: auto;
margin-left: auto;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-color);
/* font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-color);
max-width: 496px;
margin: auto;
margin-bottom: 48px; */
}

@media screen and (min-width: 428px) {
.hero {
margin-left: auto;
margin-right: auto;
max-width: 428px;
    }
}

@media screen and (min-width: 768px) {
.hero {
max-width: 768px;
    }

.hero-title {
max-width: 496px;
margin-bottom: 36px;
font-size: 56px;
line-height: 1.07;
  }
}

@media screen and (max-width: 767px) {
.hero-title {
max-width: 320px;
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
    }
}

@media screen and (max-width: 1157px) {
.hero {
padding-top: 112px;
padding-bottom: 112px;
    }
}

@media screen and (min-width: 1158px) {
.hero {
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;
    }

.hero-title {
margin-bottom: 48px;
  }
  }

.button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.hero-btn {
display: block;
min-width: 169px;
margin-left: auto;
margin-right: auto;
padding: 16px 32px;

color: var(--white-color);
background-color: var(--third-text-color);
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: var(--anim-main);
/* font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: block;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-color);
background-color: var(--third-text-color);
cursor: pointer;
margin: 0 auto;
padding: 16px 32px;
border: 0;
border-radius: 4px;
box-shadow: 0px 4px 4px grba(0,0,0,0.15);
min-width: 169px;

transition: background-color var(--anim-main); */
}

.hero-btn:hover,
.hero-btn:focus {
color: var(--white-color);
background-color: var(--accent-color);
/* color: var(--white-color);
background-color: var(--accent-color); */
}

/* .secondary-button {
padding: 8px 16px;
color: var(--third-text-color);

border-radius: 4px;

transition: color 250ms var(--anim-main),
background-color 250ms var(--anim-main),
box-shadow 250ms var(--anim-main),
border-color 250ms var(--anim-main);
} */

@media screen and (min-width: 768px) {
.secondary-button {
padding: 12px 24px;
}
}

.hero-btn:hover,
.hero-btn:focus,
.secondary-button:hover,
.secondary-button:focus {
color: var(--white-color)
background-color: var(var(--accent-color));
}

.secondary-button:hover,
.secondary-button:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
border: 1px solid;
border-color: transparent;
}


/*----------SECTION ADVANTAGES-----------*/

.advantages {
padding-top: 96px;
padding-bottom: 96px;
/* padding-top: 96px;
padding-bottom: 96px; */
}

.advantages-list {

/* display: flex;
gap: 24px; */
}

.advantages-item {

/* width: 100%; */
}

.icon-box {

/* display: none; */
/* display: flex;
justify-content: center;
align-items: center;
width: 264px;
height: 112px;
background-color: #F4F4FD;
margin-bottom: 24px;
border-radius: 4px;
margin-bottom: 8px; */
}

.subtitle-text {
margin-bottom: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--primary-text-color);
/* font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 8px; */
}

.basic-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
/* font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color); */
}

@media screen and (max-width: 767px) {
.subtitle-text {
text-align: center;
}


.advantages-item:not(:last-child) {
margin-bottom: 72px;
}

.basic-text {
max-width: 396px;
}
}

@media screen and (max-width: 1157px) {
.advantages-container {
padding-right: 16px;
padding-left: 16px;
}

.icon-box {
display: none;
}
}

@media screen and (min-width: 768px) {
.advantages-list {
display: flex;
}

.advantages-item {
flex-basis: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.advantages-list {
flex-wrap: wrap;
row-gap: 72px;
column-gap: 24px;
}
}

@media screen and (min-width: 1158px) {
.advantages {
padding-top: 50px;
padding-bottom: 50px;
}

.advantages-list {
gap: 24px;
}

.advantages-item {
flex-basis: calc((100% - 72px) / 4);
}

.subtitle-text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.basic-text {
font-weight: 400;
}

.icon-box {
display: flex;
justify-content: center;
align-items: center;
width: 264px;
height: 112px;
margin-bottom: 8px;
background-color: var(--primary-background-color);
border-radius: 4px;
}
}

/*----------SECTION SERVICES-----------*/

.services {

/* padding-bottom: 120px; */
}

.services-title {
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
/* font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
margin-bottom: 72px; */
}

@media screen and (max-width: 1157px) {
.services {
display: none;
    }
}

@media screen and (min-width: 1158px) {
.services {
padding-bottom: 120px;
    }

.services-list {
display: flex;
/* display: flex;
flex-wrap: wrap;
gap: 24px; */
}

.services-list .services-item {
flex-basis: calc((100% - 48px) / 3);
/* width: calc((100% - 48px) / 3); */
}

.services-list .services-item:not(:last-child) {
margin-right: 24px;
}
}

/*----------SECTION TEAM-----------*/

.section-team {
padding-top: 96px;
padding-bottom: 96px;
background-color: var(--primary-background-color);
/* background-color: var(--primary-background-color);
padding: 120px 0; */
}

.our-team-card {
background-color: var(--white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
width: 270px;
margin: 0 auto;
/* font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color);
background-color: var(--white-color);
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08); */
}

.team-title {

/* font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
margin-bottom: 72px; */
}

.team-list {
text-align: center;
/* display: flex;
gap: 24px; */
}

.subtitle-text {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
/* font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 8px; */
}

.basic-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
/* font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
margin-bottom: 8px; */
}

.team-link {
display: flex;
justify-content: center;
gap: 24px;
/* display: flex;
justify-content: center;
gap: 24px; */
}

.team-link-item {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: var(--third-text-color);
border-radius: 50%;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: var(--anim-main);
/* display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;

transition: background-color var(--anim-main); */
}

.team-list-item .team-link-item:hover,
.team-list-item .team-link-item:focus {
background-color: var(--accent-color);
/* background-color: #404B
BF; */
}

.social-icon {
fill: var(--primary-background-color);
/* fill: #F4F4FD; */
}

.team-text-item {
padding: 32px 0;
/* padding: 32px 16px; */
}

@media screen and (max-width: 767px) {
.team-members-container {
/* padding-left: 82px;
padding-right: 82px; */
    }

.our-team-card {
margin-bottom: 72px;
}
}

@media screen and (min-width: 768px) {
.team-list {
display: flex;
    }

.our-team-card {
flex-basis: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.team-list {
flex-wrap: wrap;
column-gap: 24px;
row-gap: 64px;
    }

.team-members-container {
padding-left: 108px;
padding-right: 108px;
}
}

@media screen and (min-width: 1158px) {
.section-team {
padding-top: 120px;
padding-bottom: 120px;
}

.team-list {
gap: 24px;
}

.our-team-card {
flex-basis: calc((100% - 72px) / 4);
}
}


/*----------CLIENTS-----------*/

.clients-container {
padding-top: 96px;
padding-bottom: 96px;
/* padding-top: 120px;
padding-bottom: 120px; */
}

.clients-list {
display: flex;
/* display: flex;
gap: 24px; */
}

.clients {
flex-basis: calc((100% - 16px) / 2);
height: 88px;
/* width: calc((100% - 120px) / 6);
height: 88px; */
}

.clients-link-item {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
border: 1px solid #8e8f99;
border-radius: 4px;
color: #8e8f99;

transition: border-color 250ms var(--anim-main),
color 250ms var(--anim-main);
/* width: 100%;
height: 100%;
border-color: #8e8f99;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
color: #8e8f99;
border: 1px solid #8e8f99;

transition: color var(--anim-main),
border-color var(--anim-main); */
}

.clients-link-item:hover,
.clients-link-item:focus {
color: var(--accent-color);
border: 1px solid;
border-color: var(--accent-color);
/* border-color: #404BBF;
color: #404bbf; */
}

.clients-item {
width: 110px;
height: 56px;
fill: currentColor;
/* width: 108px;
height: 88px;
fill: currentColor; */
}

.clients-item:hover,
.clients-item:focus {

/* fill: #404BBF;
color: #404bbf; */
}

@media screen and (max-width: 1157px) {
.clients-list {
flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
.clients-list {
column-gap: 16px;
row-gap: 72px;
    }
}

@media screen and (min-width: 768px) {
.clients-list {
column-gap: 24px;
row-gap: 72px;
    }

.clients {
flex-basis: calc((100% - 48px) / 3);
}

.clients-item {
width: 104px;
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.customers-container {
padding-left: 108px;
padding-right: 108px;
    }
}

@media screen and (min-width: 1158px) {
.clients-container {
padding-top: 120px;
padding-bottom: 120px;
    }
.clients-list {
gap: 24px;
}

.clients {
flex-basis: calc((100% - 120px) / 6);
}
}

/*----------FOOTER-----------*/

.footer-title {
padding-top: 96px;
padding-bottom: 96px;
background-color: var(--primary-text-color);
/* background-color: var(--primary-text-color);
padding: 100px 0; */
}

.footer-logo-container {

/* margin-right: 0; */
}

.footer-container {

/* display: flex;
justify-content: left;
align-items: baseline; */
}

.footer-logo {
display: inline-block;
margin-bottom: 16px;
/* font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: inline-block;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
margin-bottom: 16px; */
}

.studio-logo-footer {

/* font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: inline-block;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-background-color);
margin-bottom: 16px; */
}

.subtext {
width: 264px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-background-color);
/* font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-background-color);
max-width: 264px; */
}

.footer-text {
margin-bottom: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
/* font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
margin-bottom: 16px; */
}

.footer-links {

/* margin-left: 80px; */
}

.footer-list {
display: flex;
gap: 16px;
/* display: flex;
justify-content: center;
gap: 16px; */
}

.footer-list-item {

/* width: calc((100% - 48px) / 4); */
}


.footer-link-item {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color: var(--third-text-color);
border-radius: 50%;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: var(--anim-main);
}

.personal-social-media>.icon-link:hover,
.personal-social-media>.icon-link:focus {
    background-color: var(--hover-color);
}
/* display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;

transition: background-color var(--anim-main); */
}

.footer-list-item .footer-link-item:hover,
.footer-list-item .footer-link-item:focus {
background-color: #31D0AA;
/* background-color: #31D0AA; */
}

.footer-icon {

/* fill: #F4F4FD; */
}

/*================SUBSCRIBE==============*/

.modal-form-agree {

/* margin-left: 80px; */
}

.footer-text {

/* font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
margin-bottom: 16px; */
}

.footer-form {

/* display: flex;
align-items: center;
gap: 24px; */
}

.subscribe-label {

}

.subscribe-field {
padding: 8px 16px;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
border: 1px solid var(--white-color);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
color: var(--white-color);
/* width: 264px;
height: 40px;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
margin-right: 12px;
padding: 16px;
color: var(--white-color);
outline: unset;
background-color: transparent;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

transition: background-color var(--anim-main) ; */
}

.subscribe-field::placeholder {
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: var(--white-color);
}

.subscribe-field:focus {

/* border-color:  var(--third-text-color); */
}

.subscribe-button {
display: flex;
align-items: center;
justify-content: center;
padding: 8px 24px;
min-width: 165px;
color: var(--white-color);
border-radius: 4px;
background-color: var(--third-text-color);
border: none;
/* display: flex;
min-width: 165px;
height: 40px;
align-items: center;
justify-content: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
padding: 8px 24px;
border: none;
color: var(--white-color);
background-color: var(--third-text-color);

border-radius: 4px;
cursor: pointer; */
}

.subscribe-button:hover, .subscribe-button:focus {

/* background-color: var(--accent-color); */
}

.send-icon {
margin-left: 16px;
fill: var(--white-text-color);
/* fill: var(--white-color);
margin-left: 16px; */
}

@media screen and (max-width: 767px) {
.footer-container {
text-align: center;
}

.subtext {
text-align: left;
margin-right: auto;
margin-left: auto;
}

.footer-list {
justify-content: center;
}

.footer-links {
margin-bottom: 72px;
}

.subscribe-field {
display: block;
width: 100%;
margin-bottom: 16px;
}

.subscribe-button {
margin-right: auto;
margin-left: auto;
}
}

@media screen and (max-width: 1157px) {
.footer-logo-container {
margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
.footer-container {
display: flex;
align-items: baseline;
    }

.footer-logo-container {
margin-right: 24px;
}

.subscribe-label {
margin-right: 24px;
}

.footer-form {
display: flex;
align-items: center;
}

.subscribe-field {
width: 264px;
height: 40px;
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
.footer-container {
flex-wrap: wrap;
padding-left: 108px;
padding-right: 164px;
}

.footer-links {
margin-bottom: 104px;
}
}

@media screen and (min-width: 1158px) {
.footer-title {
padding-top: 100px;
padding-bottom: 100px;
}

.footer-logo-container {
margin-right: 120px;
}

.footer-links {
margin-right: 80px;
}
}

/*================BACKDROP==============*/

.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity var(--anim-main), visibility var(--anim-main);
} 

.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
padding: 72px 24px 24px;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
background-color: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

transition: transform var(--anim-main);
}

.modal-close-btn {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color var(--anim-main),
border var(--anim-main);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: var(--accent-color);
border: 0;
}

.modal-close-btn-icon {
transition: fill var(--anim-main);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
fill: var(--white-color);
}

@media screen and (mix-width: 768px) {
.modal {
padding: 72px 25px 24px 23px;
}
}

@media screen and (mix-width: 1158px) {
.modal {
padding: 72px 24px 24px 24px;
}

.modal-input {
padding-left: 38px;
}
}

/*================MODAL FILLING==============*/

.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 16px;
color: var(--primary-text-color);
}

.modal-field {
margin-bottom: 8px;
}

.input-wrap {
position: relative;
margin-bottom: 4px;
}

.modal-input {
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding-left: 38px;
font-size: 12px;
background-color: transparent;
outline: transparent;

transition: border-color var(--anim-main);
}

.modal-input:focus {
border-color: var(--third-text-color);
outline: transparent;
}

.modal-input:focus + .modal-icon {
fill: var(--third-text-color);
}


.modal-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);

transition: fill var(--anim-main);
}

.input-label {
display: block;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
}

.modal-comment {

width: 100%;
height: 120px;
padding: 8px 16px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
outline: transparent;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
resize: none;

transition: border-color var(--anim-main);
}

.modal-comment:focus {
border-color: var(--third-text-color);
outline: transparent;
}

.check-text {

align-items: center;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.check-text span {
display: inline-flex;
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
align-items: center;
justify-content: center;
fill: transparent;

transition: background-color var(--anim-main),
border var(--anim-main),
fill var(--anim-main);
}

.modal-agree-link {
color: var(--third-text-color)
}

.modal-check:checked + .check-text span {
background-color: var(--accent-color);
border: none;
fill: var(--primary-background-color);
}

.modal-field-comment {
margin-bottom: 16px;
}

.modal-form-checkbox {
margin-bottom: 24px;
}

.modal-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: block;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-color);
background-color: var(--third-text-color);
cursor: pointer;
margin: 0 auto;
padding: 16px 32px;
border: 0;
border-radius: 4px;
box-shadow: 0px 4px 4px grba(0, 0, 0, 0.15);
min-width: 169px;

transition: background-color var(--anim-main);
}

.modal-button:hover,
.modal-button:focus {
color: var(--white-color);
background-color: var(--accent-color);
}


/*================PORTFOLIO==============*/

.portfolio-container {
padding: 96px 0 120px;
}

.btn-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.portfolio-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
border-color: #e7e9fc;
color: var(--third-text-color);
background-color: var(--primary-background-color);
cursor: pointer;
padding: 12px 24px;
border: 1px solid #e7e9fc;
border-radius: 4px;

transition: color var(--anim-main),
background-color var(--anim-main),
border-color var(--anim-main),
box-shadow var(--anim-main);
}

.portfolio-button:hover,
.portfolio-button:focus {
color: var(--white-color);
background-color: var(--accent-color);
border-color: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 8px;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.portfolio-item {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-link {
display: block;

transition: box-shadow var(--anim-main);
}

.portfolio-link:hover,
.portfolio-link:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-items {
width: calc((100% - 48px) / 3);
}

.portfolio-link:hover .portfolio-cover-text,
.portfolio-link:focus .portfolio-cover-text {
transform: translateY(0);
}

/*.portfolio-items:hover .portfolio-cover-text,
.portfolio-items:focus .portfolio-cover-text {
transform: translateY(0);
}*/

.portfolio-cover-wrap {
position: relative;
overflow: hidden;
}

.portfolio-cover-text {
position: absolute;
top: 0;
color: var(--primary-background-color);
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
padding: 40px 32px;
background-color: var(--third-text-color);
height: 100%;
transform: translateY(100%);

transition: transform var(--anim-main);
}